In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [49]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [50]:
data=pd.read_csv('train.csv')

In [51]:
x=data.iloc[:,0:20]
y=data.iloc[:,-1]

In [67]:
rfc=RandomForestClassifier(max_depth=12)

In [68]:
scores=cross_val_score(rfc,x,y,cv=10)

In [69]:
scores.mean()

0.8109999999999999

In [55]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [56]:
best_features = SelectKBest(score_func=chi2,k=10)

In [57]:
fit=best_features.fit(x,y)

In [58]:
dfscores=pd.DataFrame(fit.scores_)
dfcolumns=pd.DataFrame(x.columns)

In [59]:
feature_scores = pd.concat([dfcolumns,dfscores],axis=1)

In [60]:
feature_scores.columns=['Features','Score']

In [61]:
feature_scores.sort_values(by='Score',ascending=False)

         Features          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878
10             pc       9.186054
9         n_cores       9.097556
18   touch_screen       1.928429
5          four_g       1.521572
7           m_dep       0.745820
1            blue       0.723232
2     clock_speed       0.648366
3        dual_sim       0.631011
19           wifi       0.422091
17        three_g       0.327643

In [62]:
ten_features = feature_scores.sort_values(by='Score',ascending=False).head(10)['Features'].values

In [63]:
x[ten_features]

,ram,px_height,battery_power,px_width,mobile_wt,int_memory,sc_w,talk_time,fc,sc_h
0,2549,20,842,756,188,7,7,19,1,9
1,2631,905,1021,1988,136,53,3,7,0,17
2,2603,1263,563,1716,145,41,2,9,2,11
3,2769,1216,615,1786,131,10,8,11,0,16
4,1411,1208,1821,1212,141,44,2,15,13,8
...,...,...,...,...,...,...,...,...,...,...
1995,668,1222,794,1890,106,2,4,19,0,13
1996,2032,915,1965,1965,187,39,10,16,0,11
1997,3057,868,1911,1632,108,36,1,5,1,9
1998,869,336,1512,670,145,46,10,19,4,18
1999,3919,483,510,754,168,45,4,2,5,19

In [70]:
scores_new = cross_val_score(rfc,x[ten_features],y,cv=10)

In [71]:
scores_new

array([0.855, 0.895, 0.865, 0.835, 0.88 , 0.91 , 0.865, 0.825, 0.87 ,
       0.865])

In [72]:
scores_new.mean()

0.8664999999999999